# General packages
tqdm
openpyxl

# General Data Science packages
matplotlib
numpy
pandas

# ARIMA packages
pmdarima
statsmodels

# Prophet packcage
prophet

# Deep Learning packagees
tensorflow
keras-tuner